<link rel="stylesheet" href="/css/signin.css" type="text/css" />
<main>
  <form action="/auth/verify-email" method="POST" style="text-align: center">
    <h2 style="text-align: center">
      To change Your password verify your email!
    </h2>
    <input
      type="email"
      name="email"
      placeholder="Enter Your Email here..."
      required
    />
    <button type="submit" value="Submit">Submit</button>
  </form>
</main>
