main {
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;

  .pic {
    border-radius: 50%;
    height: 55vh;
    width: 24%;

    box-shadow: 3px 1px 1px 2px #ebbcd9;
    img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
    .info {
      display: flex;
      flex-direction: column;
      p {
        font-size: 1.5rem;
        font-family: cursive;
        padding: 1%;
      }
    }
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 30%;
    background-color: #bad6ea;
    h1 {
      margin-top: 10%;
      font-size: 2.5rem;
      text-align: center;
    }
    input {
      margin: 2%;
      padding: 1.5%;
      width: 80%;
      font-size: 1.1rem;
      border: 0;
    }
    .file {
      color: black;
      background-color: whitesmoke;
    }
    button {
      margin: 2%;
      padding: 1.5%;
      width: 40%;
      font-weight: 800;
      font-size: 1.5rem;
      background-color: #d2dc97;
      color: white;
      border: #d2dc97;
    }
  }
}
@media only screen and (max-width: 1475px) {
  main {
    margin-top: 15%;
  }
  main form {
    width: 35%;
  }
  main .pic {
    height: 50vh;
    width: 30%;
  }
}
@media only screen and (max-width: 1200px) {
  main {
    margin-top: 20%;
  }

  main .pic {
    height: 50vh;
    width: 30%;
  }
}

@media only screen and (max-width: 1000px) {
  main {
    margin-top: 25%;
  }

  main .pic {
    height: 40vh;
    width: 32%;
  }
  main form {
    width: 40%;
  }
  main form button {
    margin: 5%;
  }
}

@media only screen and (max-width: 750px) {
  main form {
    width: 45%;
  }
  main {
    margin-top: 35%;
  }
  main .pic {
    height: 35vh;
    width: 33%;
  }
  main form h1 {
    font-size: 1.9rem;
  }
  main font input {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 550px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  main .pic {
    height: 37vh;
    width: 52%;
  }
  main form {
    margin-top: 10%;
    width: 60%;
  }
  main form button {
    width: 50%;
  }
  main form {
    width: 70%;
  }
  main .pic .info {
    height: 0;
    width: 0;
    overflow: hidden;
  }
}
@media only screen and (max-width: 300px) {
  main {
    margin-top: 35%;
  }
  main form {
    width: 75%;
  }
  main form button {
    width: 55%;
  }
  main .pic {
    height: 35vh;
    width: 55%;
  }
}
