main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  form {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    border: 1px dashed white;
    width: 30%;
    background-color: #bad6ea;
    h1 {
      margin-top: 5%;
      font-size: 2.5rem;
      text-align: center;
    }
    input {
      margin: 1%;
      padding: 1.5%;
      width: 80%;

      font-size: 1.1rem;
      border: 0;
    }
    button {
      margin: 3%;
      padding: 1.5%;
      width: 40%;
      font-weight: 800;
      font-size: 1.5rem;
      border: 1px dashed white;
      background-color: #d2dc97;
      color: white;
    }
  }
  p {
    width: 20%;

    text-align: center;

    padding: 0.3%;
    background-color: darkcyan;
    border: 1px dashed white;
  }
  p .google {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-style: italic;
    font-size: 1.8rem;
    width: 100%;
    font-weight: 700;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    margin-top: 5%;
  }
  main form {
    width: 40%;
  }
}

@media only screen and (max-width: 1000px) {
  main {
    margin-top: 10%;
  }
  main form {
    width: 50%;
  }
  main p {
    width: 30%;
  }
  main p .google {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  main {
    margin-top: 10%;
  }
  main form {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  main {
    margin-top: 18%;
  }
  main form h1 {
    margin-top: 2%;
    font-size: 2rem;
  }
  main form {
    width: 70%;
    padding: 2%;
  }
  main form button {
    width: 60%;
  }
  main p {
    width: 50%;
  }
}
